@import '../../../../styles/app';

:host {
  .c-table {
    &--header {
      text-align: center;
      color: $ink;
    }
    .l-table--container {
      width: $mobile-width;
      margin: $spacing-xl auto;
    }
    table {
      width: 100%;
      th {
        width: 33.33%;
      }
    }
    .l-table--container {
      width: $mobile-width;
      margin: $spacing-xl auto;
    }
    @include mobile {
      .l-table--container {
        width: 100%;
        margin: 0;
      }
      &--header {
        display: none;
      }
    }
  }
}
