//--------------------
// Colors - Only place colors for the app should be specified
//--------------------

$white: #ffffff;
$white-dark: #DFDFDF;

// Primary palette
$primary-lighter: #9BCEC5;
$primary-light: #50AA9A;
$primary:#05856F;
$primary-dark: #035D4E;
$primary-darker: #02352C;

$ink-lightest: #747474;
$ink-lighter: #464646;
$ink-light: #2F2F2F;
$ink:#181818;
