@import '../../../../styles/app';

:host {
  .c-chart {
    &__header {
      text-align: center;
      color: $ink;
    }

    table {
      width: 100%;
      th {
        width: 33.33%;
      }
    }

    .l-chart__container {
      width: $mobile-width;
      margin: $spacing-xl auto;
    }

    @include mobile {
      .l-chart__container {
        width: 100%;
        margin: 0;
      }
      &__header {
        display: none;
      }
    }
  }
}
