@import '../../../../styles/app';

:host {

  .c-header {
    background-color: $ink-light;

    &--brand {
      margin: 0 $spacing-xl;
      color: $white-dark;
      font-size: 2rem;
      vertical-align: middle;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 4.3rem;
    }
    &--select {
      margin: $spacing-md $spacing-xl;
    }

    .h-position-right {
      float: right;
    }

    ::ng-deep .mat-form-field-infix {
      background-color: $white-dark;
      border-radius: $border-radius;
      padding-left: $spacing-sm;
      padding-right: $spacing-sm;
      margin-right: $spacing-md;
    }
  }
  @include mobile {
    .c-header {
      &--brand {
        display: none;
      }

      &--select {
        float: none!important;
        display: inline-block;
        margin: $spacing-md;
      }
    }
  }


}
